.form-os-conteudo {
  /* background-color: #4b414193; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  gap: 1rem;
}

.form-os-conteudo div {
  /* margin-bottom: 0; */
}

.form-os-autocomplete {
  width: 200px !important;
}

.form-os-input {
  width: 70px;
}
