.div-main {
  width: 100%;
}

.div-container {
  background-color: #6d91b177;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  border-radius: var(--border-radius-m);
}

.div-container div {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.div-container span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px;
}
