.card-os {
  width: 100%;
  margin: 10px 0;
  background-color: var(--main-bg-color);
  color: var(--font-white-color);
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  border-radius: var(--border-radius-s);
}

.card-os__mecanico {
  margin: 4px 10px;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #868d92; */
}

.card-os__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.card-os__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  height: 100%;
  /* padding: 0 6px; */
  svg {
    width: 20px;
    height: 20px;
  }
}

.card-os__invisible {
  display: none;
}
