.horizontal-container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid var(--main-bg-color) 2px;
  border-top: solid var(--main-bg-color) 2px;
  background-color: var(--main-bg-color);
  position: absolute;

  width: 80%;
  height: 8%;
}

.horizontal-container-children {
  justify-content: center;
}

.horizontal-container::-webkit-scrollbar {
  height: 0;
  width: 10px;
}

/* Handle */
.horizontal-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

/* Handle on hover */
.horizontal-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
