.sum-servicos__servico {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}

.sum-servicos__servico > div {
  /* background-color: #667a54; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.sum-servicos__divider {
  background-color: #fff;
  margin: 0.5rem 0;
}
