.sum-servicos__servico {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* gap: 1.5rem; */
  justify-content: center;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.sum-servicos__conteudo {
  /* background-color: #9eee58; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0.8rem 0;

  svg {
    width: 2.5rem;
    margin: 0;
    height: 2.5rem;
  }
}

.sum-servicos__descricao-valor {
  /* background-color: #8f7b7b; */
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sum-servicos__divider {
  background-color: #fff;
  margin: 0;
}

.sum-servicos__soma {
  margin-right: 4rem;
  font-weight: 600;
}
