.main {
  /* background-color: #3f6128; */
  border: solid var(--main-bg-color) 2px;
  border-radius: 25px;
  min-width: 50%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  gap: 1.5rem;
}

.form-item {
  /* background-color: #923838; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-item,
label {
  font-size: 3vh !important;
  font-weight: 600;
  width: 85%;
}

.form-button {
  background-color: var(--main-bg-color);
  min-width: 150px;
}

.input-main {
  font-size: 3vh;
  height: 6vh;
}
