:root {
  /* backgrounds  */
  --main-bg-color: #344463;
  --secundary-bg-color: #189fdd;
  --grey-light: #92929296;
  --bg-blue-light: #6d91b177;
  --bg-silver-light: #c0c0c0b6;

  /* fonts */
  --font-white-color: #fff;

  /* borders */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  /* background-color: #daaaaa; */
  position: fixed;
  background-color: var(--main-bg-color);
  width: 100%;
}
