:root {
  --main-bg-color: #344463;
  --secundary-bg-color: #189fdd;
  --font-white-color: #fff;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* background-color: #daaaaa; */
  position: fixed;
  /* background-color: var(--main-bg-color); */
  width: 100%;
}
